## Hacker Rank Exercices

The CITY table:

|FIeld|Type|
|---|---|
|ID|Number|
|Name|VARCHAR2(17)|
|CountryCode|VARCHAR2(3)|
|District|VarChar2(20)|
|Population|Number|

1. Query all columns for all American cities in the CITY table with populations larger than 100000. The CountryCode for America is USA.

#### Select Query I

In [ ]:
# Código SQL
SELECT * FROM CITY
WHERE CountryCode="USA" AND Population > 100000

2. Query the NAME field for all American cities in the CITY table with populations larger than 120000. The CountryCode for America is USA.

#### Select Query II

In [ ]:
# Código SQL
SELECT NAME FROM CITY
WHERE CountryCode='USA' AND Population > 120000

3. Query all columns (attributes) for every row in the CITY table.

#### Select ALL

In [ ]:
# Código SQL
SELECT * FROM CITY

4. Query all columns for a city in CITY with the ID 1661.

#### SELECT BY ID

In [ ]:
# Código SQL
SELECT * FROM CITY
WHERE ID=1661

5. Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.

#### Japanesse Cities' Atributes

In [ ]:
# Código SQL
SELECT * FROM CITY
WHERE CountryCode="JPN"

6. Query the names of all the Japanese cities in the CITY table. The COUNTRYCODE for Japan is JPN.

#### Japanesse Cities' Names

In [ ]:
SELECT name FROM CITY
WHERE CountryCode="JPN"